* {
  box-sizing: border-box;
}

body {

  align-items: center;
  justify-content: center;
  line-height: 1.5;
  font-family: 'Lato';
  -webkit-font-smoothing: antialiased;
  color: white;
  background: #333c;;
}
.table .table{
background-color: #696969 !important;
}
ul {

  padding: 0;
  margin: 0;
}
nav{
  position: fixed;
    width: 100%;
    margin: 20px;
    z-index: 1;

}
main{
  display: flex;

}

.stats {
  position: relative;
  padding: 80 0px;
}

}
.stats__header {
  display: flex;
  align-items: center;
  -webkit-transform: translate3d(0, -150px, 0);
          transform: translate3d(0, -150px, 0);
  opacity: 0;
  -webkit-transform-origin: left center;
          transform-origin: left center;
  transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
}
.stats__header.active {
  -webkit-transform: none;
          transform: none;
  opacity: 1;
}
.stats__header-num {
  margin-right: 25px;
}
.stats__header-num p {
  font-size: 80px;
  margin: 0;
  font-weight: 700;
}
.stats__header-name p {
  color: #f8d0d8;
  margin: 0;
  font-size: 18px;
}
.stats__header-name span {
  display: block;
  color: white;
  font-weight: 700;
  font-size: 36px;
  line-height: 0.8;
}
.stats__item {


  height: 400px;
  display: flex;
  flex-direction: column;
  float: left;
  position: relative;
  text-align: center;
  margin-right: 37.5px;

}
.stats__item:nth-of-type(1) .stats__item-bar {
  height: 260px;
  transition-delay: 0.01s;
}
.stats__item:nth-of-type(2) .stats__item-bar {
  height: 224px;
  transition-delay: 0.02s;
}
.stats__item:nth-of-type(3) .stats__item-bar {
  height: 200px;
  transition-delay: 0.03s;
}
.stats__item:nth-of-type(4) .stats__item-bar {
  height: 128px;
  transition-delay: 0.04s;
}
.stats__item:nth-of-type(5) .stats__item-bar {
  height: 152px;
  transition-delay: 0.05s;
}
.stats__item:nth-of-type(6) .stats__item-bar {
  height: 128.4px;
  transition-delay: 0.06s;
}
.stats__item:nth-of-type(7) .stats__item-bar {
  height: 204px;
  transition-delay: 0.07s;
}
.stats__item:nth-of-type(8) .stats__item-bar {
  height: 200.4px;
  transition-delay: 0.08s;
}
.stats__item:last-child {
  margin-right: 0;
  margin-top: -64px;
  display: flex;
  flex-direction: row;
}
}


.stats__item:hover {
  opacity: 0.7;
}
.stats__item-bar {
  width: 100%;
  order: 0;
  width: 40px;
  background: white;
  -webkit-transform: scaleY(0) translate3d(0, 0, 0);
          transform: scaleY(0) translate3d(0, 0, 0);
  cursor: pointer;
  -webkit-transform-origin: center bottom;
          transform-origin: center bottom;

  box-shadow: 10px 15px rgba(0, 0, 0, 0.2);
}
.stats__item-bar.active {
  -webkit-transform: none;
          transform: none;
}
.stats__item-num {
  margin-top: 25px;
  opacity: 0;

}
.stats__overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 25px;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  visibility: hidden;
  opacity: 0;

}
.stats__overlay.active {
  opacity: 1;
  visibility: visible;
  -webkit-transform: none;
          transform: none;
}
@media (max-width: 690px) {
  .stats__overlay {
    padding: 12.5px;
  }
}
.stats__overlay-avg {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 350px;
  height: 350px;
  border-radius: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  background: #4c2e34;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}
.stats__overlay-avg > p {
  margin: 0;
}
.stats__overlay-avg .avg {
  font-size: 100px;
  font-weight: 700;
}
@media (max-width: 690px) {
  .stats__overlay-avg {
    width: 240px;
    height: 240px;
  }
  .stats__overlay-avg .avg {
    font-size: 65px;
  }
}
.stats__overlay-info {
  margin: 41px;
  position: absolute;
  bottom: 25px;
  left: 50px;
  display: flex;
  flex-direction: column;
}
@media (max-width: 690px) {
  .stats__overlay-info {
    left: 25px;
  }
}
.stats__overlay-info-half {
  margin-right: 25px;
  width: 155%;
  display: flex;
}
.stats__overlay-info-half p {
  margin: 0;
  line-height: 1.2;
  text-align: left;
  font-size: 25px;

}
#pains{
  width: 40%;

}
#games{
  width: 100%;
}
.stats__overlay-info-half p:first-child {
  font-size: 24px;
  font-weight: 700;

}
@media (max-width: 690px) {
  .stats__overlay-info-half p:first-child {
    font-size: 50px;

  }
}
.stats__overlay-back {
  margin-top: 103px;
margin-left: 31px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.stats__overlay-back:hover > svg {
  -webkit-transform: translateX(-5px);
          transform: translateX(-5px);
}
.stats__overlay-back p {
  font-weight: 700;
  font-size: 24px;
  margin: 0 0 0 12.5px;
}
@media (max-width: 690px) {
  .stats__overlay-back p {
    font-size: 18px;
  }
}

ul {

    list-style-type: none;

    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    margin-top: 21px;


  }
.header{
  width: 100% !important;

}

}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* ------------progressBar ----------------*/
.progress {
  width: 50px;
  height:200px;
}
.bar{
  display: flex;
  flex-direction: row;
  margin-left: 10px;
  margin-top: 120px;

}
.progres {
  width: 50px;
  height:200px;
  border-radius: .25rem;
}
.barr{
  display: flex;
  flex-direction: row;

}
.progress-wrap {
  margin-left: 43px;
  background: #f80;
  margin: 20px 0;
  overflow: hidden;
  position: relative;
  margin-left: 35px;
}
.progress-wrap .progress-bar {
  background: #ddd;
  bottom: 0;
  position: absolute;
  top: 0;
}
.progres-w {

  background: blue;
  margin: 20px 0;
  overflow: hidden;
  position: relative;
  margin-left: 10px;
}
.progres-w .progres-barr {
  background: #ddd;
  bottom: 0;
  position: absolute;
  top: 0;
}
