body{
  background-color: #393e46;
  text-align: left;
  color: white;
}
a{
  color: white;
}
td{
  text-align: center;
  background-color: #393e46;
  color: white;
}
th{
  text-align: center;
  background-color: #393e46;
  color: white;
}
.date{

width: 30%;

}
.nombre{
  text-align: right;
  width: 30%;
}
.kg{

  text-align:right;

}
